/**
 * @file
 * Color swatch.
 */
.color-field-swatch input[type="checkbox"],
.color-field-swatch input[type="radio"] {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.color-field-swatch label {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.color-field-swatch label span {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px auto;
  border-radius: 50%;
  outline: 1px solid #dedede;
}

.color-field-swatch :checked + label span {
  outline: 3px solid var(--gin-color-primary);
}
