{#
/**
 * @file
 * Color Field Swatch.
 *
 * @ingroup themeable
 */
#}
<div class="color-field-swatch">
{% for key, name in options %}
  <input type="radio" id="{{ id ~ '--' ~ loop.index }}" name="{{ field_path }}" value="{{ key }}" {% if default_value == key %}checked{% endif %}
  >
  <label for="{{ id ~ '--' ~ loop.index }}">
    {% set color = colors[key] ? colors[key] : '#fff' %}
    {% set value = key[:2] == '--' ? 'var(' ~ key ~ ')' : color %}
    <span style="background-color: {{ value }};"></span>
    {{ name }}
  </label>
{% endfor %}
</div>
